CFM_HOST=ftp server hostname
CFM_USER=ftp server username
CFM_PASS=ftp server password
CFM_PORT=ftp server port || 22
CFM_DAILYINTERVAL=12H // [number of hours]H
CFM_GMAIL=########@gmail.com
CFM_GMAIL_#########
CFM_RECEIVER_USERS=email1@domain.com email2@domain.com email3@domain.com ...