CFM_HOST=ftp server hostname
CFM_USER=ftp server username
CFM_PASS=ftp server password
CFM_PORT=ftp server port || 22
CFM_GMAIL= ####.####@gmail.com // gmail to be used for sending notifications
CFM_GMAIL_PASS = #########
CFM_RECEIVER_USERS=email1@domain.com email2@domain.com email3@domain.com ... // the list of emails that will receive the notification sperated by space